html, body{
	font-family: "Arial";
	background-color: #ecf0f1;
	color: #2c3e50;
	filter: brightness(100%);
}
*{
	box-sizing: border-box;
}
.main-frame{
	display: flex;
	justify-content: center;
	max-width: 550px;
	flex-wrap: wrap;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	background-color: black;
	border: 10px solid #2c3e50;
	filter: brightness(100%);
}

.simon-center{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #2c3e50;	
	position: absolute;
	margin-top:140px;
	z-index: 9999;
}
.simon-center button{
	position: absolute;
	margin-left: 75px;
	margin-top: 90px;
}
.simon {
	height: 250px;
	width: 50%;	
	overflow: hidden;
}

.yellow {
	background-color: #f1c40f;
}

.green {
	background-color: #2ecc71;

}

.blue {
	background-color: #3498db;
}

.red{
	background-color: #e74c3c;
}

.on{
	overflow: hidden;
	transition: filter 300ms ease-in;
	filter: brightness(125%);
}

.off{
	transition: filter 300ms ease-out;
	filter: brightness(90%);

}