@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|MedievalSharp');
html {
	font-family: 'MedievalSharp', cursive;
	min-height:100%;
  	background:linear-gradient(0deg,rgba(44, 62,80,0.4),rgba(44, 62,80,0.4)),url(../img/dark_brick_wall.png);
	color: #ecf0f1;
}

footer {
	position: fixed;
	bottom: 0;
	text-align: center;
}

table {
  	border-collapse: collapse;
  	font-size: 30px;
}


table td, table th {
	display: inline-block;

	width: 100px;
	max-width: 200px;
	height: 100px;
	max-height: 200px;
	border: 1px solid black;
}

table td {
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}


table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
	border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
	border-right: 0;
}

h1 {	
	background-image: radial-gradient( circle closest-side, rgba(140, 56, 48, 0.2), rgba(0,0,0,0));

}

.lil-title {
	font-family: 'Kaushan Script', cursive;
	font-size: 28px;
	font-weight: normal;
	display: block;
	text-align: center;
}

.big-title {
	display: block;
	font-size: 58px;
	font-weight: bold;
	color: #f1c40f;
	text-shadow: -2px 1px 0 Crimson;
	letter-spacing: 3px;
	/*margin-right: 50px;	*/
}

.d {
	font-size: 80px;
}
.other-title {
	color: #7f8c8d;
	letter-spacing: 3px;
	word-spacing: 2px;
	margin-left: 50px;
}

.skull-title {
	display: inline-block;
	background: url(../img/skull.svg);
	min-width: 50px;
	min-height: 50px;

}

.main-frame {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}

.weapon-area h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 3px;
	color: #e74c3c;
}

.weapon-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.weapon-choose {
	display: flex;
	color: #95a5a6;

	justify-content: space-around;
	border-radius: 10px;

}

.weapon__selected {
	box-sizing: border-box;
	border: 1px solid #f39c12;
}

.weapon-button {
	border-radius: 12px;

}

.weapon-button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
	transition: all .3s linear;
}

.play-button {
	background-color: #e67e22;
	border-radius: 30px;
	border: none;
	padding: 10px;
	font-size: 20px;
	color: #ecf0f1;
	margin-top: 40px;
	box-shadow: 0 3px 0 rgba(220, 20, 60, 0.5);
}

.oClass {
	background-image: url(../img/defense.svg);
	background-repeat: no-repeat;
	min-width: 50px;
	min-height: 50px;
}

.xClass {
	background-image: url(../img/swords.svg);
	background-repeat: no-repeat;
	min-width: 50px;
	min-height: 50px;
}

.noWeaponClass {
	
	/*background-image: none;*/
}
.noWeaponClass:hover {
	background-color: rgba(255, 0, 0, 0.3);
	cursor: pointer;
}

.hide {
	display: none;
}

.game-area {
	text-align: center;
}

.game-area .score-area {
	text-align: left;
}