html {
	color: #202020;
	height: 100%;
	font-family: "Arial", sans-serif;
	background-color: white;
	overflow: hidden;
}

h1 {
	color: gray;
	text-align: center;
	letter-spacing: 10px;
}

.main-container{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.main-container img{
	width: 200px;
	height: auto;
	overflow: hidden;
}


.clock__frame{
	font-size: 60px;
	font-weight: bold;
	padding: 5px;
	border-radius: 3px;	
}

.button-area{
	margin: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;	

}

.clock-btn{
	color: #202020;
	font-family: 10px;
	padding: 10px;
	border-style: none;
	border-radius: 3px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	letter-spacing: 2px;
}

.clock-btn:hover{
	cursor: pointer;
	color: white;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#202020), to(#202020));
	background-image: -webkit-linear-gradient(bottom, #202020 0%, #202020 100%);
	background-image: -o-linear-gradient(bottom, #202020 0%, #202020 100%);
	background-image: linear-gradient(to top, #202020 0%, #202020 100%);
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.setting-area {
	text-align: center;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	color: rgba(0,0,0, 0.3);
	margin: 2px;
}

.pomodoro-btn{
	display: block;		
	width: auto;
	height: auto;	
	background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));	
	background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);	
	background-image: -o-linear-gradient(left, #fa709a 0%, #fee140 100%);	
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.break-btn{
	width: auto;
	height: auto;
	font-size: 12px;
	background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
	background-image: -o-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}


.control-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 16px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	color: gray;
}

.control-btn {;
	font-size: 30px;
	padding: 10px;
	margin: 5px;

	cursor: pointer;
}

.control-btn:hover{
	color:#202020;
	-webkit-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	transition: color .3s ease-out;
}

.dec, 
.inc {
	font-size: 20px;
	padding: 5px;
}

.dec:hover,
.inc:hover {
	color: #4facfe;
	cursor: pointer;
}


.copyright {
	background-color: white;
	border-top: 1px solid gray;
}

.copyright,
.copyright a:visited {
	position: fixed;
	bottom: 0;
	padding: 30px;
	color: #202020;
}

.copyright a {
	text-decoration: none;
}

.copyright a:hover {
	color: gray;
}
